<!-- public/views/goal-item.html -->

<div class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">fractal</a>
		</div>
	</div>
</div>

<div class="page-header">
	<h3>{{ goal.name }} <small>goal</small></h3>
</div>

<breadcrumbs project="project" trail="breadcrumbs" goal="goal"></breadcrumbs>

<div class="jumbotron text-center">
    <h1>Timeline</h1>
</div>

<div>
	<tabset>
		<tab heading="Subgoals"><goal-list goals="subgoals" project="project"></goal-list></tab>
		<tab heading="Notes"><note-list notes="notes"></note-list></tab>
	</tabset>
</div>