<!-- public/views/goal-item.html -->

<div class="goal-page">
	<breadcrumbs ng-if="isGoal" project="project" trail="breadcrumbs" goal="goal"></breadcrumbs>

	<div class="page-header">
		<h3 ng-if="isGoal">{{ goal.name }} <small>goal</small></h3>
		<h3 ng-if="!isGoal">{{ project.name }} <small>project</small></h3>
	</div>

	<div class="btn-group" dropdown>
	  <button type="button" class="btn btn-primary" ng-click="goalActions.create(project._id, goal._id)">Create</button>
	  <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
	    <span class="caret"></span>
	    <span class="sr-only">Create</span>
	  </button>
	  <ul class="dropdown-menu" role="menu">
	    <li><a href ng-click="goalActions.create(project._id, goal._id)">Goal</a></li>
	    <li><a href ng-click="noteActions.create(project._id, goal._id)">Note</a></li>
	    <li><a href ng-click="milestoneActions.create(project._id, goal._id)">Milestone</a></li>
	  </ul>
	</div>
	<div class="pull-right">
		<div class="btn-group">
			<button type="button" ng-if="isGoal" class="btn btn-primary" ng-click="goalActions.update(goal)">Edit</button>
		</div>
		<div class="btn-group">
			<button type="button" ng-if="isGoal" class="btn btn-danger" ng-click="goalActions.delete(goal)">Delete</button>
		</div>
	</div>

	<div class="jumbotron text-center">
	    <h1>Timeline</h1>
	</div>

	<div>
		<tabset>
			<tab heading="Subgoals"><goal-list></goal-list></tab>
			<tab heading="Milestones"><milestone-list></milestone-list></tab>
			<tab heading="Notes"><note-list></note-list></tab>
			<tab heading="Description"><p ng-bind-html="isGoal ? goal.description : project.description | nl2br"></p></tab>
		</tabset>
	</div>
</div>