<div ng-repeat="g in timelineSubgoals | orderBy: 'goal.beginDate'"class="timeline-item">
		<div class="titem-header">
			<div class="titem-timeline-holder">
				<div class="titem-pushbar" style="width: {{ g.timeline.push }}%;"></div>
				<div class="titem-bar" style="width: {{ g.timeline.size }}%;"></div>
			</div>
			<h3 class="titem-title">{{ g.goal.name }}</h3>
		</div>
		<div class="titem-body">
			<p><strong>Notes:</strong> {{ g.stats.numNotes }}</p>
			<p><strong>SubGoals:</strong> {{ g.stats.numSubgoals }}</p>
			<a href="/project/{{ project._id }}/goal/{{ g.goal._id }}">Open Goal »</a>
			<button class="btn btn-primary" ng-click="goalActions.update(g.goal)">Edit</button>
			<button class="btn btn-danger" ng-click="goalActions.delete(g.goal)">Delete</button>
		</div>
</div>