<accordion>
	<accordion-group ng-repeat="g in timelineSubgoals | orderBy: 'goal.beginDate'"class="timeline-item">
		<accordion-heading>
			<div class="titem-header" ng-class="{'first':$first}">
				<div class="titem-timeline-holder">
					<div class="titem-pushbar" style="width: {{ g.timeline.push }}%;" ng-hide="g.timeline.push <= 0"></div>
					<div class="titem-bar" style="width: {{ g.timeline.size }}%;"></div>
				</div>
				<div class="titem-header-data">
					<h3 class="titem-title">{{ g.goal.name }}</h3>
					<div class="titem-header-ctrls pull-right">
						<!-- {{ g.stats.numSubgoals }}<span class="fa fa-copy"></span>
						{{ g.stats.numNotes }}<span class="fa fa-comments"></span>
						{{ g.stats.numMilestones }}<span class="fa fa-flag"></span> -->
						<span class="titem-header-date" ng-show="g.goal.beginDate && g.goal.endDate"><strong>{{ g.goal.beginDate | date:'MM/dd/yyyy'}}</strong> to <strong>{{ g.goal.endDate | date:'MM/dd/yyyy'}}</strong></span>
						<span class="titem-header-actions"><a class="fa fa-edit" ng-click="barEdit(g.goal, $event)"></a><a class="fa fa-external-link" ng-click="barGoTo('/project/' + project._id + '/goal/' + g.goal._id, $event)"></a></span>
					</div>
				</div>
			</div>
		</accordion-heading>
		<div class="titem-body">
			<div class="titem-body-header">
				<span class="fa fa-tag"></span>Travel Country</span>
			</div>
			<div class="titem-body-content"></div>
		</div>
	</accordion-group>
</accordion>