/* common.scss */

$default-font-color: #494848;
$primary-app-color: #0caf24;
$secondary-app-color: #046312;

$bright-brand: #64F025;

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

.btn {
	border-radius: 0;
}

.btn-primary {
	@include button-variant(white, $primary-app-color, darken($primary-app-color, 4));
}

a {
	color: $secondary-app-color;

	&:hover,
	&:active,
	&:focus {
		color: $primary-app-color;
		text-decoration: none;
	}
}

a.inverted {
	color: $primary-app-color;

	&:hover,
	&:active,
	&:focus {
		color: $secondary-app-color;
		text-decoration: none;
	}
}