/* common.scss */

$default-font-color: #494848;
$bright-app-color-text: #8DF060;

$primary-app-color: #0caf24;
$secondary-app-color: #046312;

$brightest-brand: #07BF22;
$bright-brand: #64F025;

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

.btn {
	border-radius: 0;
}

.btn-primary {
	@include button-variant(white, $primary-app-color, darken($primary-app-color, 4));
}

a {
	color: $secondary-app-color;

	&:hover,
	&:active,
	&:focus {
		color: $primary-app-color;
		text-decoration: none;
	}
}

a.inverted {
	color: $primary-app-color;

	&:hover,
	&:active,
	&:focus {
		color: $secondary-app-color;
		text-decoration: none;
	}
}

.no-padding {
	padding: 0 !important;
}

body {
	background: #f2f2f2;
}

.main-container {
	background: #ffffff;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

.main-container .container {
	padding-bottom: 20px;
}