// components/_timeline.scss
$bar-height: 40px;

.timeline-item {

	.titem-header {
		position: relative;
		border-left: 1px solid #dddddd;
		border-right: 1px solid #dddddd;
		border-bottom: 1px solid #dddddd;
	}

	.titem-header.first { 
		border-top: 1px solid #dddddd;
	}

	.titem-timeline-holder {
		height: $bar-height;
		width: 100%;
		background: #eeeeee;
	}

	.titem-pushbar {
		width: 50%;
		height: 100%;
		float: left;
		display: inline-block;
	}

	.titem-bar {
		width: 20%;
		background: orange;
		height: 100%;
		float: left;
		display: inline-block;
	}

	.titem-header-data {
		display: inline-block;
		top: 0px;
		padding-left: 15px;
		padding-right: 15px;
		height: 100%;
		width: 100%;
		margin: 0;
		font-size: 16px;
		color: $default-font-color;
		position: absolute;
	}

	.titem-header-ctrls {
		display: inline-block;
		line-height: $bar-height;
		font-size: 14px;
		
		.titem-header-date {
			padding: 0 10px 0 15px;
		}

		.fa {
			padding-left: 4px;
			padding-right: 10px;
		}
	}

	.titem-header-actions {
		padding: 0;

		a {
			color: inherit;
			padding: 12px !important;
		}

		a:hover {
			text-decoration: none;
			background: rgba(150,150,150,0.2);
		}
	}

	.titem-title {
		font-size: inherit;
		line-height: $bar-height;
		margin: 0;
		float: left;
	}

	.titem-body {
		border-left: 1px solid #dddddd;
		border-bottom: 1px solid #dddddd;
		border-right: 1px solid #dddddd;
		padding: 15px;
	}

	.panel-heading {
		color: inherit;
		background: inherit;
		border: 0;
		border-radius: 0;
		padding: 0;
	}

	&.panel {
		margin: 0;
		padding: 0;
		border-radius: 0;
		border: 0;
	}

	.panel-body {
		padding: 0;
		border: 0 !important;
	}
}